@model SuplementShopWEB.MVC.Application.ViewModel.Item.ListItemForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Items</h1>

<p>
    <a asp-action="AddItem">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
               Name
            </th>
            <th>
                Price $
            </th>
            <th>
                Count
            </th>
            <th>
                Available
            </th>
            <th>
                Type Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
             <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsAvailable, new { @disabled = "disabled" })
                </td>       
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {  id = item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
