@model SuplementShopWEB.MVC.Application.ViewModel.Customer.ListCustomerForList

@{
    ViewData["Title"] = "GetAllCustomers";
}

<h1>Customers</h1>

<p>
    <a asp-action="AddCustomer" class="btn btn-success">Create New</a>
</p>

<form asp-action="Index" asp-controller="Customer" method="post">
    <div class="Search-and-Filter-container">
        <div class="Search-section" style="display: inline-block;">
            <label for="searchString">Search by Name:</label>
            <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
            <input type="submit" value="Search" />
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Phone Number
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="EditCustomer" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        }
                        <a asp-action="CustomerDetails" asp-route-id="@item.Id" class="btn btn-dark">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <table>
            <span>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <a>
                        @if (i != Model.CurrentlyPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </a>
                }
            </span>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="5" />
    </div>
</form>

@section Scripts
    {
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}
