@model SuplementShopWEB.MVC.Application.ViewModel.Customer.ListCustomerForList

@{
    ViewData["Title"] = "GetAllCustomers";
}

<h1>Customers</h1>

<p>
    <a asp-action="AddCustomer">Create New</a>
</p>

<form asp-action="Index" asp-asp-controller="Customer" method="post">
    <div class="Search-section">
        Serach by Name
        <span>
            <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
            <input type="submit" value="Search" />
        </span>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>

                    <th>
                        Full Name
                    </th>
                    <th>
                        PhoneNumber
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Customers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditCustomer", new {  id=item.Id  }) |
                            @Html.ActionLink("Details", "CustomerDetails", new {  id=item.Id  }) |
                            @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
            <span>
                @for (int i = 1; i <= Math.Ceiling(Model.Count /(double)Model.PageSize); i++)
                {
                    <a>
                        @if(i!= Model.CurrentlyPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </a>
                }
            </span>
        </table>
        <input type="hidden" name="pageNo" id="pageNo"/>
        <input type="hidden" name="pageSize" id="pageSize" value="5"/>
    </div class="row">
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}